.big_wrap, .small_wrap {
  width: 33%;
  padding: 0;
}
.big_wrap > div {
  width: 48%;
  padding-top: 8%;
  margin: 1%;
}
.small_wrap > div {
  width: 31.333%;
  padding-top: 31.333%;
  margin: 10%;
}
td { 
    padding: 10px;
}
th {
  text-align:center;

}

/* Flash messages shown at the top of the page */
.message {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:yellow;
}

.error {
    margin-top:10px;
}

.error ul {
    list-style-type: none;
    margin:0;
    padding:0;
}





/*----------------------------------------------------
Layout
-----------------------------------------------------*/
#content {
    padding-left:25px;
    padding-right:25px;
    width:100%;
    max-width:960px;
    text-align:center;
    margin-left:20%;
}


/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:5px;
    margin-top:10px;
}

nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

nav ul li {
    display:inline-block;
    padding:10px;
    margin:10px;
}

nav ul li a:link {
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
}

nav ul li a:hover {
    color:#18bc9c; /* flatly teel */
}
}




#login, #register {
    width:300px;
    margin:auto;
}
